*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: sans-serif;
    font-size: 1rem;
    color: #424949;
    width: 100%;
}

/* **************้header-nav**************** */
header>.head-colmar{
    /* border: 1px solid red; */
    display: flex;
    justify-content: space-between;
    height: 64px;
    width: 100%;
    margin: auto 24px;
}
.colmar-logo{
    /* border: 1px solid red; */
    display: flex;
    font-size: 0.9rem;    
}
.colmar-logo h1{
    height: 32px;
    margin: 16px 0px;
}
nav ul.herder-nav{
    /* border: 1px solid burlywood; */
    display: flex;
    list-style: none;
    gap: 16px;
    padding: 16px 0px;
    max-height: 64px;
    height: 100%;
    align-items: center;
    justify-content: center;
}

nav ul li a{
    height: 100%;
    padding: 0;
    text-decoration: none;
    color: #424949;
    font-size: 1.2rem;
}
nav ul li a:hover{
    padding: 16px;
    border-radius: 32px;
    background-color: gainsboro;
    float: left;
    width: auto;
}

/*  -------- HERO Learn something new everyday--------- */
.hero{
    /* border: 1px solid blue; */
    background-color:#D0D3D4;
    display: flex;
    padding: 32px 24px;
}
.banner-img{
    width: 60%;
    /* height: 100%; */
    padding-right: 24px;
}
.learn{
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* border: 1px solid red; */
    width: 35%;
    padding: 24px 24px 24px 0px;
}
.learn>p{
    padding: 16px 0px ;
}
button,button>a{
    padding: 8px;
    background-color: #424949;
    border: none;
    color: white;
    text-decoration: none;
}

/* ***************information********** */
.information{
    /* border: 1px solid red; */
    display: flex;
    width: 100%;
}
.banner-img1{
    width: 100%;
    height: 100%;
    padding: 32px 24px;
}
article{
    /* border: 1px solid blue; */
    height: 100%;
    width: 60%;
}
.box-it{
    /* border: 1px solid red; */
    margin: 0 24px;
    padding-bottom: 32px;
    
}
article p {
    padding-top: 24px;
}
.information aside{
    border-left: 1px solid #D0D3D4 ;
    width: 40%;
    padding-top: 16px;
}
.aside-left{
    display: flex;
    /* border: 1px solid red; */
    padding: 16px;
    border-bottom: 3px double #D0D3D4;
}
.read{
    text-decoration: none;
}
.line-p{
    padding: 8px 0px;
}
.aside-left:hover{
    background-color: #D0D3D4 ;
}
.box-img1 {
    width: 35%;
    height: auto;
}
.box-aside{
    /* border: 1px solid black; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 16px;
}
/* ***************course *Start learning***-------******* */
.course{
    background-color:#D0D3D4;
    /* border: 1px solid red; */
    padding: 32px 56px 16px 56px;
}
section.course h2 {
    text-align: center;
    margin-bottom: 16px;
    font-size: 2rem;
}
.box-start{
    /* border: 1px solid blue; */
    display: grid;
    grid-template-columns: repeat(3,1fr);
    list-style: none;
}
.box-card{
    /* border: 1px solid pink; */
    background-color: white;
    margin: 16px;
}
.start{
    width: 100%;
    height: auto;
}
.box-text{
    /* border: 1px solid red; */
    margin: 16px 16px 24px 16px;
    font-weight: 400;
    font-size: 1rem;
}
.courese-p{
    margin: 8px 0px;
}
/* ------------------- Thesis exhibit---------------------- */
.vdo video{
    /* border: 1px solid red; */
    width:100%;
    margin-right: 24px;
    margin-bottom: 24px;
}
.thesis{
    /* border: 1px solid red; */
    margin: 32px 24px;
    width: 100%;
}
.thesis-h2{
    text-align: center;
    margin-bottom: 32px;
    font-size: 2rem;
}
.box-thesis{
    display: flex;
    /* border: 1px solid red; */
}
.vdo{
    /* border: 1px solid green; */
    width: 60%;
    margin-right: 24px;
}
.thesis-aside{
    width: 40%;
    display: flex;
    /* border: 1px solid red; */
    /* border-bottom: 3px double #D0D3D4; */
}
.urban-p {
    margin-top: 8px;
   
}
.thesis-aside ul li{
    display: flex;
    /* border: 1px solid red; */
}
.thesis-aside ul li:hover{
    background-color: #D0D3D4;
}
.img-sis{
    width: 35%;
    height: auto;
    margin: 16px;
}
.box-f{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

footer{
    border-top: 1px solid gainsboro;
    padding: 16px 24px;
    display: flex;
    justify-content: space-between; margin-bottom: px;
    font-size: 0.9rem;
    font-weight: 400;
}
.terms{
    display: flex;
    
}
.terms p a{
    color:#424949 ;
    text-decoration: none;
    margin:1rem;
    
}

@media screen and (min-width: 426px){
    .mobile{
        display: none;
    }
}

@media screen and (max-width: 425px){
    .desktop{
        display: none;
    }
}